@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {

  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-arrows {
    -moz-appearance: textfield;
  }

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  .animate-spin-reverse {
    animation: spin-reverse 1s linear infinite;
  }
}